{% extends 'base.html' %}
{% load static %}

  {% block content %}

  <header>
    {% include 'inc/header.html' %}
    <div class="page-banner home-banner">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1 class="mb-4">Buy Bundles and Browse All Day</h1>
            <p class="text-lg mb-5">We're here to make your internet experience the best.</p>
            <a href="{% url 'services' %}" class="btn btn-outline-primary mb-3">Explore</a>
                        {% if request.user.is_authenticated %}
            {% if request.user.status == 'User' %}
            <a href="https://wa.me/233548424519" class="btn btn-outline-primary mb-3">Become an Agent</a>
            {% endif %}
            {% endif %}
          </div>
          <div class="col-lg-6 py-3 wow zoomIn">
            {% if request.user.is_authenticated %}
                <div class="card credit-card text-white" style="border-radius: 15px;">
  <div class="card-body">
    <!-- Card Header with Logo -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        <h5 class="mb-0">E-Wallet</h5>
      </div>
      <div>
        <i class="fas fa-wallet fa-2x"></i>
      </div>
    </div>

    <!-- Card Number -->
    <div class="mb-2">
      <h3 class="mb-0">**** **** **** {{ request.user.id|slice:"-4:" }}</h3>
    </div>

    <!-- Balance -->
    <div class="mb-2">
      <h2 class="mb-0">GHS {{ wallet_balance }}</h2>
    </div>

    <!-- Card Holder and Valid Thru -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <p class="mb-0">Wallet Holder</p>
        <p class="mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
      </div>
      <div>
        <p class="mb-0">Valid Thru</p>
        <p class="mb-0">{{ request.user.date_joined|date:"m/y" }}</p>
      </div>
    </div>

    <!-- Top Up Button -->
    <div class="text-right">
      <a class="btn btn-outline-light" href="{% url 'topup-info' %}">Top Up</a>
    </div>
  </div>
</div>
            {% else %}
                          <div class="img-place">
              <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_rLfMZE.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>  
  

  <main>
  
          <div style="border-top: 1px solid #e9e8f5" class="page-section">
            <div class="container">
              <div class="text-center wow fadeInUp">
                <div class="subhead">Why Choose Us</div>
                <h2 class="title-section">Your <span class="marked">Satisfaction</span> is Our Priority</h2>
                <div class="divider mx-auto"></div>
              </div>
        
              <div class="row mt-5 text-center">
                <div class="col-lg-4 py-3 wow fadeInUp">
                  <i style="color: #6C55F9" class="fa-solid fa-bolt fa-2x"></i>
                  <h5>High Performance</h5>
                  <p>Our services provided are with top performance.</p>
                </div>
                <div class="col-lg-4 py-3 wow fadeInUp">
                  <i style="color: #6C55F9" class="fa-solid fa-face-smile fa-2x"></i>
                  <h5>Friendly Prices</h5>
                  <p>Our Prices? They are the best you will find out there.</p>
                </div>
                <div class="col-lg-4 py-3 wow fadeInUp">
                  <i style="color: #6C55F9" class="fa-solid fa-headset fa-2x"></i>
                  <h5>Customer Service</h5>
                  <p>We're always with you. Your concerns are not ignored.</p>
                </div>
              </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
  
  
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 py-3 wow fadeInLeft">
            <h2 class="title-section">We're <span class="marked">ready to</span> Serve you with best</h2>
            <div class="divider"></div>
            <p class="mb-5">The services we provide are exceptional and bring satisfaction to our customers. We know you will love it. Take our word for it and start using our services.</p>
            <a href="#" class="btn btn-outline-primary ml-2">See pricing</a>
          </div>
          <div class="col-lg-6 py-3 wow zoomIn">
            <div style="height: 400px" class="img-place text-center">
              <img height="auto" src="{% static 'assets/img/WhatsApp Image 2024-09-30 at 18.40.04_cbb1bfda.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

  
    <div class="page-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h2 class="title-section">Get in Touch</h2>
            <div class="divider"></div>
            <p>We'll get to you shortly.<br> We look forward to hearing from you!</p>
  
            <ul class="contact-list">
              <li>
                <div class="icon"><span class="mai-mail"></span></div>
                <div class="content"><a href="mailto:princesaah220@gmail.com">princesaah220@gmail.com</a></div>
              </li>
              <li>
                <div class="icon"><span class="mai-phone-portrait"></span></div>
                <div class="content"><a href="tel:+233248222860">+233 24 822 2860</a></div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3 wow fadeInUp">
            <div class="subhead">Contact Us</div>
            <h2 class="title-section">Drop Us a Line</h2>
            <div class="divider"></div>
            
            <form action="#">
              <div class="py-2">
                <input type="text" class="form-control" placeholder="Full name">
              </div>
              <div class="py-2">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="py-2">
                <textarea rows="6" class="form-control" placeholder="Enter message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Send Message</button>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  
  </main>

  {% include 'inc/footer.html' %}

  {% endblock%}